@font-face {
	src: url('../Fonts/Segoe UI Family/Segoe UI.ttf');
	font-family: segoeui;
}
@font-face {
	src: url('../Fonts/Segoe UI Family/Segoe UI Italic.ttf');
	font-family: segoeui-italic;
}
@font-face {
	src: url('../Fonts/Segoe UI Family/Segoe UI Bold Italic.ttf');
	font-family: segoeui-bold-italic;
}
@font-face {
	src: url('../Fonts/Segoe UI Family/Segoe UI Bold.ttf');
	font-family: segoeui-bold;
}
@font-face {
	src: url('../Fonts/Segoe UI Family/Segoe UI Light.ttf');
	font-family: segoeui-light;
}

* {
	padding : 0;
	margin : 0;
}
.content{
	width : 77%;
	margin : auto;
}
.siteicon{
	width :21em;
}
.header-tile {
	background : #f2f2f2;
	padding-top: 30px;
	padding-bottom:30px;
}

.header-content{
	padding-top : 20px;
	padding-bottom : 20px;
}

.heading{
	font-family : segoeui-light;
	font-size : 26px;
	font-weight : 400;
	padding-bottom : 27px;
	padding-top : 0px;
	
}
.heading-hr{
	margin-top: 0px;
	margin-bottom: 27px;
	border: 0;
	border-top: 1px solid;
}
.topic-heading{
	font-family : segoeui-light;
	font-size: 48px;
	font-weight : 500;
}
.page-heading-tile{
	padding-top : 12px;
	padding-bottom : 12px;
}
.middle-tile{

}
.footer-tile{
	background: #F2F2F2;
	padding-top:16px;
	padding-bottom:16px;
}
.footer-content{
	padding-top : 20px;
	padding-bottom : 20px;
	font-size: 16px;
	font-weight: 400;
	font-family: segoeui;
	line-height: 25px;
}
.social-icon{
	width: 1.6em;
	height:1.6em;
	transition: all 0.1s ease-in-out;
}
.social-icon:hover{
	box-shadow: 0 3px 9px rgb(130, 155, 100);
}
.real-p {
	font-size: 16px;
	font-weight: 400;
	font-family: segoeui;
	line-height: 25px;
	padding-bottom : 45px;
  
}
.event-year{
	font-size: 16px;
	font-weight: 400;
	font-family: segoeui;
	line-height: 25px;
}
.director-name{
	font-size: 16px;
	font-weight: 400;
	font-family: segoeui;
	line-height: 25px;
	padding-bottom: 9px;
	padding-right: 9px;
	padding-left: 9px;
}
.director-info{
	font-size: 16px;
	font-weight: 400;
	font-family: segoeui;
	line-height: 25px;
	padding-bottom: 9px;
	padding-right: 9px;
	padding-left: 9px;
}
ul{
	list-style-type: none;
}
.profile-box{
	background: #E5EFD1;
	width: 200px;
	float: left;
	margin-right: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius:7px;
	transition: all 0.2s ease-in-out;
	
}
.profile-box:hover{
	box-shadow: 0 3px 9px rgb(130, 155, 100);
	
}
.profile-img{
	width : 100%;
	height : 100%;
	border-radius: 10px	10px	0	0;
}

.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-right : 0%;
}
.nav-logo{
	padding-right: 0%;
}
.nav-item a{
	font-family : segoeui-light;
	font-size : 26px;
	font-weight : 400;
	text-decoration: none;
	color: #2D2D2D;
	transition: all 0.2s ease-in-out;
}
.nav-item a.nav-link:hover{
	text-decoration: underline;
	text-decoration-color: black;
	color: black;
}
.login{
	background : #E5EFD1;
	padding: 6px 20px;
	border-radius: 25px;
	transition: all 0.2s ease-in-out;
}
.login:hover{
	box-shadow: 0 1px 3px rgb(130, 155, 100);
	cursor: pointer;
}
table{
	font-size: 16px;
	font-weight: 400;
	font-family: segoeui;
	line-height: 25px;
	padding-bottom : 45px;
	margin-bottom : 45px;
	border-collapse: collapse;
}
td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
.directors-list{
	padding-bottom : 45px;
}
.social-divs{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-right : 65%;
}
.footer-divs{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-right : 35%;
}
.sep{
	font-size:25px;
}
.home-img-tile{
	height:700px;
	background-image: url("Images/Construction1.jpg");
	margin-bottom: 45px;
}
.second-tile{
	height:2090px;
}
.home-img-tile-content{
	height:100%;
}
.MT1st-half{
	height : 50%;
	margin:auto;
	display: flex;
}
.MTsecond-half{
	height : 50%;
	margin:auto;
	display: flex;
}
.real-p-pic{
	align-self: flex-end;
	font-size:70px;
	font-family: segoeui;
	color:white;
	font-weight: 800;
}
 .real-p-pic-sub{
	 align-self: flex-start;
	 font-size:35px;
	 font-family: segoeui;
	 color:white;
 }
 .video-container{
	 width:85%;
	 height:47.81%;
	 overflow: hidden; 
	 border-radius:7px;

 }
 .video{
	 height:100%;
	 width:100%
	 
 }
 .hq-div{
	height: 450px;
	width: 676px;
	margin-bottom: 17px;
}
.hq-img{
	border-radius:7px;
	height:100%;
	width:100%
}
.video-container-parent{
	padding-bottom:40px;
}